* {
    margin: 0%;
    padding: 0%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body{
    height: 100vh;
}




.tittle {
    font-size: 1.5em;

    color: rgb(119, 139, 142);
    font-weight: bold;
}



input[type=text],
input[type=button] {
    outline: none;
}



.weatherheading{
    color: rgb(29, 93, 109);
    font-size: 4em;
}
#weatherinp {

    width: 50%;
    height: 40px;
    border: 2px solid cadetblue;
    
    padding-left: 20px;
    border-radius: 20px;
}
.weatherinpspan{
    width: 100%;
    display: flex;
    justify-content: center;
}
.weatherinpspan .searchbtn{
    color: white;
    height: 40px;
    width: 40px;
    border: 0px;
    margin-left: 5px;
    border-radius: 20px;
    background-color: rgb(58, 114, 116);
    transition: all .3s;
}
.weatherinpspan .searchbtn:hover {
    /*rgb(58, 114, 116)*/
    color: white;
    background-color: cadetblue;

}
.weatherhead {
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}

.weatheroutlook{
    height: 100vh;
    background-image: url(images/blue-cloudy-sky-wallpaper1.jpg);
    background-size: cover;
}
#citycollect{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
    transition: all 1s;
}
.cities{
    border-radius: 10px;
    
    width: 200px;
    padding: 10px;
    padding-bottom: 0px;
    border: 2px solid cadetblue;
}
.cities h4{
    color: rgb(29, 93, 109);
}
#resulttable{
    display: none;
    width: 30%;
    border: 2px solid cadetblue;
    border-radius: 10px;
    
    
}
.resulthead{
    width: 100%;
    padding: 3px;
    padding-left: 10px;
    background-color: cadetblue;
    border-radius: 5px 5px 0px 0px;
    color: white;
}
#Hyderabad,#Chennai,#Delhi,#Mumbai{
    padding-left: 5%;
    padding-top: 2%;
}
.citieslabel{
    font-weight: bold;
}

@media screen and (max-width:799px){
    
    
    
    .weatherhead {
        height: 1000px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    
    }
    .weatheroutlook{
        background-image: url(images/blue-cloudy-sky-wallpaper1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    #weatherinp {

        width: 70%;
        height: 40px;
        border: 2px solid cadetblue;
        
        padding-left: 20px;
        border-radius: 20px;
    }
    .weatherheading{
        color: rgb(29, 93, 109);
        font-size: 2.5em;
    }
    #citycollect{
        width: 100%;
        height: 550px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        
    }
    .cities{
        border-radius: 10px;
        margin: 0% 5% 0% 5%;
        width: 90%;
        padding: 10px;
        border: 2px solid cadetblue;
    }
    #resulttable{
        display: none;
        width: 80%;
        border: 2px solid cadetblue;
        border-radius: 10px;
    }
    .resulthead{
        width: 100%;
        padding: 3px;
        padding-left: 10px;
        background-color: cadetblue;
        border-radius: 5px 5px 0px 0px;
        color: white;
    }
}
